In [11]:
import pandas as pd

In [12]:
regions = {'amer': pd.read_csv('resources/amerTeams.csv'), 
           'cn': pd.read_csv('resources/cnTeams.csv'), 
           'pac': pd.read_csv('resources/pacTeams.csv'), 
           'emea': pd.read_csv('resources/emeaTeams.csv')}

In [13]:
regions['cn']

,Unnamed: 0,team,Group,Wins,Losses,Map Wins,Map Losses,Map Delta,Round Wins,Round Losses,Round Delta
0,0,All Gamers,omega,3,1,6,4,2,123,111,12
1,1,Bilibili Gaming,alpha,2,3,6,7,-1,130,140,-10
2,2,Dragon Ranger Gaming,alpha,3,2,8,6,2,147,146,1
3,3,EDward Gaming,alpha,3,1,7,3,4,115,84,31
4,4,FunPlus Phoenix,omega,4,0,8,2,6,117,80,37
5,5,JD Gaming,omega,0,4,3,8,-5,105,127,-22
6,6,Nova Esports,alpha,1,4,4,9,-5,126,154,-28
7,7,TYLOO,omega,1,3,4,7,-3,111,122,-11
8,8,Titan Esports Club,omega,2,2,5,6,-1,101,121,-20
9,9,Trace Esports,omega,3,1,6,3,3,106,85,21
10,10,Wolves Esports,alpha,2,3,5,7,-2,128,139,-11